$bg-primary: #2d3142;
$fg-primary: #47db56;
$text-primary: #ffffff;
$text-secondary: #bebebe;

$font-s: 1.6rem;
$font-m: 2.1rem;
$font-l: 2.4rem;
$font-xl: 6.4rem;

$border: 1px solid $text-secondary;

$padding-s: 0.6rem;
$padding-m: 1rem;

$width-max: 1000px;
$width-content: 335px;
$width-divider: 375px;