@use './base';
@use './switch';
@use './slider';
@use './variables' as v;

header h1 {
	text-align: center;
	font-size: v.$font-m;
	margin: 2rem 1rem 3rem;
}

main {
	margin: 1rem;
}

section {
	margin: auto;
	max-width: v.$width-content;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

label {
	color: v.$text-secondary;
	font-size: v.$font-s;
}

select,
input {
	background: none;
	padding: v.$padding-m 0;
}

option {
	background: v.$bg-primary;
}

.holder,
.holder2 {
	border-bottom: v.$border;
	display: flex;
	flex-direction: column;
	margin-bottom: 3.4rem;
}

.holder {
	width: 48%;
}

.holder2 {
	width: 100%;
}

.holder2:last-child {
	border: 0;
}

.level-wrapper {
	display: flex;
	align-items: center;
}

.level-input {
	width: 4rem;
	margin-right: 2rem;
}

.level-slider {
	flex-grow: 1;
}

.divider {
	background: v.$fg-primary;
	height: 1px;
	max-width: v.$width-divider;
	margin: 2rem auto;
}

.divider:first-of-type {
	margin-top: 0;
}

.result-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.result-subtitle {
	font-size: v.$font-l;
	font-weight: normal;
}

.result-title {
	color: v.$fg-primary;
	font-size: v.$font-xl;
}

.info {
	font-size: 1.8rem;
	text-align: center;
	margin-bottom: v.$padding-m;
}

.detail-wrapper {
	max-width: v.$width-content;
}

.detail {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: v.$border;
	font-size: v.$font-l;
	padding: v.$padding-s;
}

.detail-subtitle {
	color: v.$text-secondary;
}

.detail-title:not(:empty):before {
	content: '+';
}

@media (max-width: 350px) {
	.holder {
		width: 100%;
	}
}
